h1{
text-size:40px;
text-align:center;
color:red;font-family:Harlow Solid;
font-size:50 px;

}
body{
background-image:url(https://image.shutterstock.com/z/stock-photo-book-in-library-with-old-open-textbook-stack-piles-of-literature-text-archive-on-reading-desk-and-785109361.jpg)

}
h2{
text-align:center;
textr-size:50px;
color:blue;}